.video-modal-container {
  position: relative;
}

.video-modal {
  position: relative;
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.video-modal:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.video-modal:after {
  content: "";
  background: url(play-button.svg) no-repeat center center;
  background-size: 80px 80px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: all .3s ease-in-out;

  opacity: 0.85;
}
.video-modal.dark:after {
  background: url(play-button-dark.svg) no-repeat center center;
  background-size: 80px 80px;
}
.video-modal:hover:after {
  transform: scale(1.1);
}
